---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/about/">About</a>

    <h1>Contenido</h1>
    <h2>Acerca de este sitio</h2>

    <h1>Mi primera experiencia con Astro</h1>
    <h1>Version 4.0</h1>
    <h2>
      Intentaremos hacer integraciones para probar la potencia de este framework
    </h2>

    <p>
      Trabajaremos con TypeScrip TS, React/Preact y Tailwind para hacer una
      experiencia completa.
    </p>

    <p>
      Adicionalmente se realizaran integracion con una API para añadir
      transaccionalidad.
    </p>
  </body>
</html>
